{% extends 'base.html' %}
{% block title %}Subject{% endblock %}

{% block navbar_links %}
<li>
    <a href="{{url_for('user.subjects')}}">Subjects</a>
</li>
<li>
    <a href="{{url_for('user.profile')}}">Profile</a>
</li>
{% endblock %}

{% block greeting %}
<div class="small-greeting">
    <h1>Welcome, {{session['first_name']}} {{session['surname']}}</h1>

    <div class="message">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
</div>
{% endblock %}

{% block content %}
<h1>Subjects</h1>
<div class="controls">
    <form method="post">
        <input type="text" name="search-query" minlength="3" placeholder="Search">
        <input type="submit" value="Search">
    </form>
    <div class="links">
        <a class="control-link" href="{{url_for('user.user_add_subject')}}">Add subjects</a>
    </div>
</div>

{% if subjects|length == 0 %}
    <p>No subjects in your database. Click <a href="{{url_for('user.user_add_subject')}}">here</a> to add subjects.</p>
{% else %}
<table class="table">
    <tr>
        <th>Subject code</th>
        <th>Subject name</th>
        <th>Grade</th>
        <th>Exam date</th>
        <th></th>
    </tr>
        {% for user_subject in subjects %}
            {% set link, user, subject, grade = user_subject %}
            <tr>
                <td>{{subject.subject_code}}</td>
                <td>{{subject.subject_name}}</td>
                <td>{{grade.grade_value}}</td>
                <td>{{link.exam_date}}</td>
                <td>
                    <a href="{{url_for('user.user_edit_subject', subject_id=subject.subject_id)}}">Edit</a>
                </td><td>
                    <a href="{{url_for('user.user_delete_subject', subject_id=subject.subject_id)}}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
</table>
{% endblock %}

