{% extends 'admin_base.html' %}
{% block title %}Admin - Subjects{% endblock %}

{% block content %}
<h1>Subjects</h1>

<div class="controls">
    <form method="post">
        <input type="text" name="search-query" minlength="3" placeholder="Search">
        <input type="submit" value="Search">
    </form>


</div>

<table class="table" id="admin-subject-table">
    <tr>
        <th>Subject Code</th>
        <th>Subject name</th>
        <th></th>
        <th></th>
    </tr>
        <tr class="add-subject-row">
            <form action="{{url_for('admin.admin_add_subject')}}" class="admin-add-subject-form" method="post">
                <td><input class="add-subject-input" name="add-subject-code" type="text" placeholder="Subject code" required></td>
                <td><input class="add-subject-input" name="add-subject-name" type="text" placeholder="Subject name" required></td>
                <td colspan="2"><input class="add-subject-input add-subject-submit" type="submit" value="Add subject"></td>
            </form>
        </tr>
    {% for subject in subjects %}
        <tr>
            <td>{{subject.subject_code}}</td>
            <td>{{subject.subject_name}}</td>
            <td>
                <a href="{{url_for('admin.admin_edit_subject', subject_id=subject.subject_id)}}">Edit</a>
            </td>
            <td>
                <a href="{{url_for('admin.admin_delete_subject', subject_id=subject.subject_id)}}">Delete</a>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}